.warapper{
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.title{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #012970;
  margin: 42px 0;
}
.box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-item{
  width: calc((100% - 100px)/2);
}
.titile-box{
  color: #444444;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name{
  font-size: 20px;
  text-align: left;
}
.description{
  padding: 0.75rem;
}